{% extends 'base.html' %}
{% load static %}

{% block body %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          {% if product_details.prodImage %}
            <img src="{{product_details.prodImage.url}}" style="width: 100%; height: 100%;" class="img-fluid" alt="{{product_details.prodName}}">
          {% else %}
            <img src="{% static 'site_static/img/no_image_available.jpeg' %}" class="img-fluid" alt="No image provided">
          {% endif %}
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <h3 class="lead font-weight-bold ml-2 mt-3">{{product_details.prodName}}</h3>
          <div class="p-2">
            <div class="mb-3">
              {% if product_details.prodIsBestseller %}
                <a href=""><span class="badge purple mr-1">Bestseller</span></a>
              {% endif %}
              {% if product_details.prodIsNew %}
                <a href=""><span class="badge blue mr-1">New</span></a>
              {% endif %}
              {% if product_details.prodIsLimited %}
                <a href=""><span class="badge red mr-1">Limited</span></a>
              {% endif %}
            </div>
            <p class="lead">
              {% if product_details.prodOldPrice > 0 %}
                <span class="mr-1"><del>${{ product_details.prodOldPrice }}</del></span>
              {% endif %}
              <span>${{product_details.prodPrice}}</span>
            </p>
            <p class="lead font-weight-bold">Description</p>
            <p>{{product_details.prodDesc|truncatewords:50}}
            </p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" min="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>

          </div><!--Content-->
        </div><!--Grid column-->
      </div><!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Accessories</h4>

          <p>See also these accessories that you can feature this product.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->










  <section id="reviews" class="pb-5">

      <!--Main wrapper-->
      <div class="comments-list text-center text-md-left">

        <!--First row-->
        <div class="row mb-5">
          <!--Image column-->
          <div class="col-sm-2 col-12 mb-3">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" alt="sample image" class="avatar rounded-circle z-depth-1-half">
          </div>
          <!--/.Image column-->

          <!--Content column-->
          <div class="col-sm-10 col-12">
            <a>
              <h5 class="user-name font-weight-bold">John Doe</h5>
            </a>
            <!-- Rating -->
            <ul class="rating">
              <li>
                <i class="fas fa-star blue-text"></i>
              </li>
              <li>
                <i class="fas fa-star blue-text"></i>
              </li>
              <li>
                <i class="fas fa-star blue-text"></i>
              </li>
              <li>
                <i class="fas fa-star blue-text"></i>
              </li>
              <li>
                <i class="fas fa-star blue-text"></i>
              </li>
            </ul>
            <div class="card-data">
              <ul class="list-unstyled mb-1">
                <li class="comment-date font-small grey-text">
                  <i class="far fa-clock-o"></i> 05/10/2015</li>
              </ul>
            </div>
            <p class="dark-grey-text article">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident.</p>
          </div>
          <!--/.Content column-->
        </div>
        <!--/.First row-->
      </div>
  </section>

{% endblock body %}
