{% extends "base.html" %}

{% block body %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
      <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
      </tr>
      <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
      </tr>
      </table>

      <input type="submit" value="login">
      <input type="hidden" name="next" value="{{ next }}">
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>












      <!-- Login -->
      <div class="container">

      	<aside class="col-sm-4">

      <div class="card">
      	<article class="card-body">
      		<h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
      		<hr>
      		<p class="text-success text-center">Join our world, let the magic begin</p>
      		<form>
      			<div class="form-group">
      				<div class="input-group">
      					<div class="input-group-prepend">
      					    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      					 </div>
      					<input name="" class="form-control" placeholder="Enter your username or email" type="email">
      				</div>
      			</div>
      			<div class="form-group">
      				<div class="input-group">
      					<div class="input-group-prepend">
      					    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      					 </div>
      				    <input class="form-control" placeholder="******" type="password">
      				</div>
      			</div>
      			<div class="form-group">
      				<button type="submit" class="btn btn-primary btn-block"> Login  </button>
      			</div> <!-- form-group// -->
      			<p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
      		</form>
      	</article>
      </div>

      	</aside>
      </div>

      </div>
      <!-- Login -->















    </div>
  </main>
{% endblock body %}
