{% extends "base.html" %}

{% block body %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
          <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>













      <!-- Sign up -->
      <div class="container mt-5">
          <div class="card">
              <article class="card-body">
                  <h4 class="card-title text-primary mb-4 mt-1">Reset Your Password</h4>
              	<form>
                      <div class="form-group">
                        <label>New password</label>
                          <input class="form-control" placeholder="******" type="password">
                      </div>
                      <div class="form-group">
                          <input class="form-control" placeholder="******" type="password">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
                      </div>
                  </form>
              </article>
          </div> <!-- card.// -->
      </div>
      <!-- Sign up -->










    </div>
  </main>
{% endblock body %}
