{% extends "base.html" %}

{% block body %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!-- Sign up -->
      <div class="container mt-5">
          <div class="card">
              <article class="card-body">
                  <h4 class="card-title mb-4 mt-1">Forgot Your Password?</h4>
              	<form>
                      <div class="form-group">
                      	<label>Email</label>
                          <input name="" class="form-control" placeholder="Enter Your Email Here..." type="email">
                      </div>
                      <div class="form-group">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
                      </div>
                  </form>
              </article>
          </div> <!-- card.// -->
      </div>
      <!-- Sign up -->

    </div>
  </main>
{% endblock body %}      
